@font-face {
	font-family: Montserrat;
	src: url("assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

/* Theme colors*/
:root {
	--color1: #F2545B;
	--color2: #A93F55;
	--color3: #19303C;
	--color4: #F3F7F0;
	--color5: #8C5E58;
}

body {
	margin: 0;
	min-height: 100vh;
	background-image: url("assets/images/Background.png");
	display: flex;
	justify-content: center; 
	align-items: center;
	font-family: Montserrat, serif;   
}

.main-card {
	background-color: var(--color4);
	height: 35rem;
	width: 65%;
	border-radius: 17px;
	box-shadow: 20px 20px 30px rgba(25, 47.59, 60, 0.20);
}

.content {
	display: flex;
}

.header {
	text-align: center;
	padding-left: 7%; padding-right: 7%; padding-top: 3%; padding-bottom: 3%;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.nav-bar {
	text-align: right;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin-right: 20px;
}

li:hover {
	color: var(--color1);
}

a {
	text-decoration: none;
	font-size: 1.2em;
}

.download-button {
	display: flex;
	width: 10rem;
	height: 3rem;
	padding: 10px;
	text-align: center;
	background-color: var(--color1);
	color: var(--color4);
	border-radius: 5px;
	margin:auto;
}

.download-button:hover {
	display: flex;
	width: 10rem;
	height: 3rem;
	padding: 10px;
	text-align: center;
	background-color: var(--color2);
	color: var(--color4);
	border-radius: 5px;
	margin:auto;
}