.theme-mode-button {
	bottom: 1rem;
	position: fixed;
	right: 0rem;
	width: 9rem;
}

.jumbotron {
	background-image: url('/assets/trees.jpg');
	opacity: 1;
	height: 40rem;
	background-repeat: no-repeat;
	background-size: cover;
}

.profile-pic {
	border-radius: 100%;
	height: 15rem;
	width: 15rem;
	margin: auto;
}

.center {
	display: flex;
	flex-direction: row;
}

.vertical-center {
	align-content: center
}

.in-place {
	position: fixed;
	top:0rem;
	width: 100%;
}